{% from "../header.njk" import header%}
{% from "../arenaBlock.njk" import arenaBlock%}

<html>
  <head>
    <title>11ty!</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">
  </head>
  <body>
    {% for item in arena %}
      {{ item.title }}
      <img src="{{ item.image.original.url }}" width="40px"/>
    {% endfor %}
  </body>

</html>